@import url('../font/FiraSans/import.css');

:root {
    --background-1: #ffffff;
    --foreground-1: #000000;
    
    --brown-1: #996655;
    --brown-2: #b79388;
    --brown-3: #e2d3cf;
    --brown-4: #cc7a5b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fira Sans', sans-serif;
    scroll-behavior: smooth;
}

header {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > div {
    text-align: right;
}

header > div > h1 {
    font-size: 5rem;
}

footer {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background: var(--brown-1);
    color: var(--brown-2);
}

footer > .icons {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 0.5rem;
}

footer > .icons a {
    color: var(--brown-2);
}

footer > .icons a:hover {
    color: var(--brown-3);
}

.brown, .brown-1 {
    color: var(--brown-1);
}

.brown-2 {
    color: var(--brown-2);
}

.brown-3 {
    color: var(--brown-3);
}

.bg-brown, .bg-brown-1 {
    background-color: var(--brown-1);
}

.bg-brown-2 {
    background-color: var(--brown-2);
}

.bg-brown-3 {
    background-color: var(--brown-3);
}
